form {
    display: flex;
    flex-direction: column;
    width: 15%;
}

/* input:nth-of-type(1), 
input:nth-of-type(2) {
    height: 25px;
    margin-bottom: 10px;
    width: 15%;
} */

.upload {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
}

.special {
    color: blue;
    font-size: 25px;
    font-family: sans-serif;
    cursor: pointer;
}

p {
    color: red;
    font-size: 25px;
    font-family: serif;
    cursor: pointer;
    user-select: none;
}

.manage_data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message_flash {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 15px;
}

.message_flash input {
    height: 30px;
    padding: 5px 10px;
    font-size: 15px;
}

.flash {
    font-size: 20px;
    list-style: none;
    background-color: skyblue;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    color: yellow;
}