form {
    display: flex;
    flex-direction: column;
    width: 15%;
}

/* input:nth-of-type(1), 
input:nth-of-type(2) {
    height: 25px;
    margin-bottom: 10px;
    width: 15%;
} */

.upload {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
}

.special {
    color: blue;
    font-size: 25px;
    font-family: sans-serif;
    cursor: pointer;
}

p {
    color: red;
    font-size: 25px;
    font-family: serif;
    cursor: pointer;
    user-select: none;
}